@media(max-width:500px){
    body {
        padding-top: 170px;
        padding: 60px;

    }
}
.header{
    height: auto;
    padding: 10px 8px;
    flex-direction: column;
    gap: 8px;
}
.header__title{
    font-size: 1.5rem;
}
.nav_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    padding: 4px;
}